*~
MHD/Cocoa/Fortran_codes/Fortran_codes.xcodeproj/
*.DS_Store

/bin
/work
MHD_project.xcworkspace/xcuserdata/liaoyangguang.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.plist

MHD_project.xcworkspace/xcuserdata/liaoyangguang.xcuserdatad/UserInterfaceState.xcuserstate
